
    *{
        color: white;
        font-family:'Times New Roman', Times, serif;

    }
    body{
    margin:0px;
    padding: 0px;
    background: url('ff.jpg');

}
.left{
display:inline-block;
margin: 18px auto;
width: 18px;
color: white;
}
.right{

    display: inline-block;
    position: absolute;
    right: 34px;
    top: 18px ;
}
.left img{
    width:100px;
    filter: invert(10%);
}
.mid{
    
    display:block;
    width: 522px;
    margin:-116px 0px 0px 403px 
}
.navbar{
    display: inline-block;
}
.navbar li{
    display:inline-block;
    font-size: 15px;
    text-decoration: none;
}
.navbar li a{
    display:inline-block;
    color:white;
    margin: 8px;
    padding: 3px;
}
.navbar li a:hover,.navbar li a.active{
    color:grey;
    font-style: italic;
}
.btn{
    margin: 12px 15px;
    padding: 4px;
    background:black;
    color: blanchedalmond;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px; 
    box-shadow: 2px 2px 1px 1px wheat;
    box-shadow: inset 2px 2px 1px 1px wheat;
}
.btn:hover{
    background-color: rgb(65, 65, 65);
}
.container{
    border: 2px solid white;
    float: right;
    height: 300px;
    width: 418px;
    padding: 25px;
    margin: 70px 100px;
    border-radius: 10px;
}
.box{
    margin:17px 119px;
    padding: 2px 4px;
    
}
#lol{
    margin:0px 127px;
    padding: 0px 0px;
    padding:2px;
    border: 2px solid white;
}
form input{
    text-align: center;
    border-radius: 4px;
    width: 200px;
    color:black;
    text-size-adjust: 29px;
}
form input:hover{
    color:black;
    background-color: darkgrey;
}