<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus eum
                dolor distinctio eaque cum, commodi, tempore nemo facere tenetur adipisci blanditiis earum vel impedit
                reprehenderit ipsa quia. Magnam, architecto!</p>
        </div>
    </div>
</div>

<!-- Contact Details -->

<div class="container">
    <div class="row align-item-center">
        <div class="col-sm-4">
            <img src="https://www.svgrepo.com/show/164117/man.svg" alt="contact image" class="contact-image-big">
        </div>
        <div class="col-sm-6">
            <ul class="list-group mt-2">
                <li class="list-group-item">Name : <span class="fw-bold">Name</span></li>
                <li class="list-group-item">Email : <span class="fw-bold">Email</span></li>
                <li class="list-group-item">Mobile : <span class="fw-bold">Mobile</span></li>
                <li class="list-group-item">Email : <span class="fw-bold">Email</span></li>
                <li class="list-group-item">Company : <span class="fw-bold">Company</span></li>
                <li class="list-group-item">Title : <span class="fw-bold">Title</span></li>
                <li class="list-group-item">Group Name : <span class="fw-bold">Group</span></li>
            </ul>
        </div>
        
    </div>
    <div class="row mt-4">
        <div class="col">
            <a routerLink="/" class="btn btn-dark d-flex justify-content-center">
                <i class="fa fa-circle-left"> Back</i></a>
        </div>
    </div>
</div>