<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Contacts
                <a routerLink="/contacts/add" class="btn btn-sm btn-danger">
                    <i class="fa fa-plus-circle"></i>
                    New</a>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio ea deserunt, quibusdam unde alias vitae
                quas maiores quos ullam veritatis suscipit molestias obcaecati delectus possimus vero aut! Corrupti,
                officia consequatur!</p>
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Search User">
                            </div>
                            <div class="col">
                                <input type="submit" value="submit" class="btn btn-dark">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- error page -->
<div *ngIf="!loading && errorMessage">
    <p class="text-center">
        {{errorMessage}}
    </p>
</div>


<!-- <pre>{{contacts | json}}</pre> -->
<!-- cards -->


<div *ngIf=" !loading && contacts.length >0 " class="container mt-3">
    <div class="row">
        <div class="col-md-6" *ngFor="let contact of contacts">
            <div class="card list-group-item-dark shadow-lg my-2 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{contact.photo}}"
                                alt="person image" class="contact-image">
                        </div>
                        <div class="col-sm-7">
                            <ul class="list-group  mt-2">
                                <li class="list-group-item">Name : <span class="fw-bold">{{contact.name}}</span></li>
                                <li class="list-group-item">Email : <span class="fw-bold">{{contact.email}}</span></li>
                                <li class="list-group-item">Mobile : <span class="fw-bold">{{contact.mobile}}</span></li>
                            </ul>

                        </div>
                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                            <a class="btn btn-warning my-1 " routerLink="/contacts/view/{{contact.id}}"><i class="fa fa-eye"></i></a>
                            <a class="btn  btn-primary my-1 " routerLink="/contacts/edit/{{contact.id}}"><i class="fa fa-pen"></i></a>
                            <button class="btn btn-danger my-1 "><i class="fa fa-trash"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>