<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus eum
                dolor distinctio eaque cum, commodi, tempore nemo facere tenetur adipisci blanditiis earum vel impedit
                reprehenderit ipsa quia. Magnam, architecto!</p>
        </div>
    </div>
</div>

<!-- create contact form -->
<pre>{{contact | json}}</pre>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" name="name" required="required" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" name="photo" required="required" type="url" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" name="email" required="required"type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" name="mobile" required="required" type="number" class="form-control" placeholder="Mobile number">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.company" name="company" required="required" type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" name="title" required="required" type="text" class="form-control" placeholder="title">
                </div>
                <div class="mb-2">
                    <select class="form-control" [(ngModel)]="contact.groupId" name="groupId">
                        <option [value]="group.id" *ngFor="let group of groups" aria-placeholder="hello">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-danger">Create</button>
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-image">
        </div>
    </div>
</div>