<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus eum
                dolor distinctio eaque cum, commodi, tempore nemo facere tenetur adipisci blanditiis earum vel impedit
                reprehenderit ipsa quia. Magnam, architecto!</p>
        </div>
    </div>
</div>

<!-- edit contact form -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile number">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="title">
                </div>
                <div class="mb-2">
                    <select class="form-control" name="" id="">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-danger">update</button>
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://www.svgrepo.com/show/164117/man.svg" alt="" class="contact-image">
        </div>
    </div>
</div>