<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellendus eum
                dolor distinctio eaque cum, commodi, tempore nemo facere tenetur adipisci blanditiis earum vel impedit
                reprehenderit ipsa quia. Magnam, architecto!</p>
        </div>
    </div>
</div>


<!-- 
<pre>{{contactId}}</pre>
<pre>{{contact | json}}</pre> -->

<!-- loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- error page -->
<div *ngIf="!loading && errorMessage">
    <p class="text-center">
        {{errorMessage}}
    </p>
</div>

<!-- edit contact form -->

<div class="container" *ngIf="contact != null">
    <div class="row">
        <div class="col-md-4">
            <form (submit)="updateContact()">
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.name" name="name"  class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.photo" name="photo" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" [(ngModel)]="contact.mobile" name="mobile" class="form-control" placeholder="Mobile number">
                </div>
                <div class="mb-2">
                    <input type="text"  [(ngModel)]="contact.company" name="company" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" name="title" class="form-control" placeholder="title">
                </div>
                <div class="mb-2">
                    <select class="form-control"  name="" id="">
                        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-danger">update</button>
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <img src="{{contact.photo}}" alt="" class="contact-image">
        </div>
    </div>
</div>