<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services </title>
</head>
<body>
    <nav>
        <ul>
            <li class="item"><a href="/"> Home</li></a>
            <li class="item"><a href="/about"> About</li></a>
            <li class="item"><a href="/services"> Services</li></a>
            <li class="item"><a href="/contact"> Contact us</li></a>
        </ul>
    </nav>
    <h1>services</h1>
</body>
</html>